@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.cont{
  overflow-x: hidden;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px;
  overflow: hidden;
  position: relative;
}
header .logo-section{
  display: flex;
  align-items: center;
  gap: 7px;
}
header .logo-section h3{
  font-size: 16px;
}
header .logo{
  width: 70px;
}
header .menu{
  display: flex;
  align-items: center;
  gap: 40px;
}
header .menu .menu-icon{
  text-decoration: none;
  font-size: 37px;
  color: #333;
  cursor: pointer;
}
header ul{
  position: absolute;
  top: 70px;
  right: 40px;
  display: none;
  flex-direction: column;
  /* background-color: orangered; */
  
  background-color: rgba(241, 168, 11, 0.702);
  /* gap: 20px; */
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
header ul li{
  list-style: none;
}
header ul li .nav-link{
  text-decoration: none;
  font-size: 14px;
  /* color: #333; */
  color: white;
  cursor: pointer;
}

/* ==== Home Page ==== */
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 10%, rgba(9, 9, 9, 0.9) 50%);
}
.hero-container .hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 300px;
  color: white;
}
.hero-container video{
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.hero-container .hero h4{
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: orangered;
  color: rgba(241, 122, 11, 0.931);
}
.hero-container .hero h3{
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  background-color: rgba(241, 168, 11, 0.931);
  padding: 10px;
  border-radius: 3px;
}
.hero-container .hero h1{
  text-align: center;
  font-size: 35px;
}

.date-of-event{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 0 10px;
}
.date-of-event h4{
  font-size: 15px;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  color: whitesmoke;
}

.date-of-event h5{
  line-height: 20px;
}
#break-line::before{
  content: "\a";
  white-space: pre;
}
.event-details{
  margin: 60px 0 0;
}
.summit-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  padding: 120px 20px;
}
.summit-text h2{
  font-weight: 700;
  line-height: 35px;
}
.summit-text button{
  padding: 20px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(47, 47, 47);
}
.summit-text button .summit-btn{
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

/* ==== Form Section ==== */
.form-section{
  width: 100%;
  padding: 0 10%;
  margin: 30% auto 40%;
}
.form-section h1{
  text-align: center;
}
.form-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}
.form-section form input, form select, form button{
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background: rgba(237, 234, 234, 0.9);
  border-radius: 2px;
}
.form-section form select, form button{
  cursor: pointer;
}
.form-section form select{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
}
.form-section form select:hover{
  background-color: rgb(47, 47, 47);
  /* background: #323741; */
  color: white;
}

.form-section form button{
  padding: 20px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(47, 47, 47);
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.form-section form button .submit{
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

/* ==== Footer Section ==== */
.footer-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  padding: 50px 0;
  background-color: black;
  color: white;
  gap: 25px;
}
.footer-section .footer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* ==== Success Page ==== */
.success-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  text-align: center;
}
.success-page button{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 20px 0;
  background-color: rgb(47, 47, 47);
}
.success-page button .success-btn{
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}


@media screen and (min-width: 769px){
  .hero-container{
    height: 600px;
  }
  .hero-container .hero h1{
    font-size: 60px;
  }
  header ul{
    position: inherit;
    display: flex;
    flex-direction: row;
    background: none;
    gap: 40px;
  }
  header ul li .nav-link{
  text-decoration: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
  header .menu .menu-icon{
    display: none;
  }
  .date-of-event{
    margin-top: 75px;
    padding: 0 30px;
    justify-content: space-between;
  }
  .summit-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }
  #break-line::before{
    content: "";
    white-space: none;
  }
  .summit-text button{
    padding: 20px 70px;
  }
  .event-details{
    padding: 0 4%;
  }
  .form-section{
    width: 70%;
  }
  .success-page{
    width: 40%;
  }
}

@media screen and (min-width: 1025px){
  header{
    padding: 2.5em 7%;
  }
  .event-details{
    padding: 0 7%;
  }
  .date-of-event h5{
    font-size: 15px;
  }
  .form-section{
    margin: 10% auto;
    width: 60%;
  }
}

@media screen and (min-width: 1201px){
  header{
    padding: 2.5em 13%;
  }
  .event-details{
    padding: 0 13%;
  }
  .form-section{
    width: 50%;
  }
  .success-page{
    width: 30%;
  }
}

@media screen and (min-width: 1320px){
  .hero-container{
    height: 100vh;
  }
  .success-page{
    width: 20%;
  }
}
.loading{
  width: 100vw;
  height: 150vh;
  background: #222;
  z-index: 3000;
  opacity: .6;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}
.sk-chase {
  width: 200px;
  height: 200px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}
.makePay{
  padding: 20px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(47, 47, 47);
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 1.5rem;
  width: 100%;
}
.makePay a{
  color: #fff;
}
