@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.cont{
  overflow-x: hidden;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px;
  overflow: hidden;
  position: relative;
}
header .logo-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
header .logo-section h3{
  font-size: 16px;
}
header .logo{
  width: 70px;
}
header .menu{
  display: flex;
  align-items: center;
  gap: 40px;
}
header .menu .menu-icon{
  text-decoration: none;
  font-size: 37px;
  color: #333;
  cursor: pointer;
}
header ul{
  position: absolute;
  top: 70px;
  right: 40px;
  display: none;
  flex-direction: column;
  /* background-color: orangered; */
  
  background-color: rgba(241, 168, 11, 0.702);
  /* gap: 20px; */
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
header ul li{
  list-style: none;
}
header ul li .nav-link{
  text-decoration: none;
  font-size: 14px;
  /* color: #333; */
  color: white;
  cursor: pointer;
}

/* ==== Home Page ==== */
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 10%, rgba(9, 9, 9, 0.8) 50%);
}
.hero-container .hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 300px;
  color: white;
}
.hero-container video{
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.hero-container .hero h4{
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: orangered;
  color: rgba(241, 122, 11, 0.931);
}
.hero-container .hero h3{
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  background-color: rgba(241, 168, 11, 0.931);
  padding: 10px;
  border-radius: 3px;
}
.hero-container .hero h1{
  text-align: center;
  font-size: 35px;
}

.date-of-event{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
  /* margin-bottom: 20px; */
  padding: 0 10px;
}
.date-of-event h4{
  font-weight: 600;
  font-size: 15px;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  color: whitesmoke;
}

.date-of-event h5{
  line-height: 25px;
  font-size: 1em;
  font-weight: 600;
}
#break-line::before{
  content: "\a";
  white-space: pre;
}
.event-details{
  margin: 60px 0 0;
}
.summit-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  padding: 120px 20px;
}
.summit-text h2{
  font-weight: 700;
  line-height: 35px;
}
.summit-text button{
  padding: 20px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(47, 47, 47);
}
.summit-text button .summit-btn{
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

/* ==== Form Section ==== */
.form-section{
  width: 100%;
  padding: 0 10%;
  margin: 30% auto 40%;
}
.form-section h1{
  text-align: center;
}
.form-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}
.form-section form input, form select, form button{
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background: rgba(237, 234, 234, 0.9);
  border-radius: 2px;
}
.form-section form select, form button{
  cursor: pointer;
}
.form-section form select{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
}
.form-section form select:hover{
  background-color: rgb(47, 47, 47);
  /* background: #323741; */
  color: white;
}

.form-section form button{
  padding: 20px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(47, 47, 47);
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.form-section form button .submit{
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

/* ==== Footer Section ==== */
.footer-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  padding: 50px 0;
  background-color: black;
  color: white;
  gap: 15px;
}
.footer-section h4{
  font-size: 20px;
  font-weight: 600;
}
.footer-section .footer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.footer-section .footer-content p a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.footer-section .footer-content .footer-powered{
  font-size: 13px;
  color: #676464;
}

/* ==== Success Page ==== */
.success-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  text-align: center;
}
.success-page button{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 20px 0;
  background-color: rgb(47, 47, 47);
}
.success-page button .success-btn{
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 370px){
  .event-details .date-of-event{
    margin-bottom: 20px;
    gap: 10px;
  }
  .infoOne .mainTxt p span::before{
    content: "\a";
    white-space: pre;
  }
  .infoOne .mainTxt span{
    font-size: 2px;
    padding-bottom: 7px;
  }
}

@media screen and (max-width: 530px){
  .date-of-event h5{
    line-height: 22px;
    font-size: 15px;
    font-weight: 500;
  }
  .infoOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .infoOne .logo-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .infoOne .mainTxt .logo{
    width: 90px;
  }
  .infoOne .logo-section .logo-content h2{
    font-size: 17px;
    line-height: 25px;
  }
  .infoOne .logo-section .logo-content h2 span::before{
    content: "\a";
    white-space: pre;
  }
  .infoOne .mainTxt{
    margin-top: 50px;
  }
  .infoOne .mainTxt p {
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 40px;
    font-weight: bold;
  }
  .infoOne .mainTxt p span{
    font-size: 25px;
    font-weight: bold;
  }
  .infoOne .mainTxt span{
    text-align: center;
    font-size: 14px;
    width: 60%;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .infoOne .mainTxt img{
    width: 53%;
  }
  .info2{
    /* width: 70%; */
    /* width: 70%; */
    margin: 0 auto;
  }
  .info2 h1{
    margin-top: 60px;
    font-weight: 600;
    font-size: 27px;
  }
  .info2 ul{
    padding-left: 0;
    width: 60%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .info2 ul li{
    font-size: 13px;
    list-style: none;
  }
  .infothree .about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .infothree .about-us h2{
    font-weight: 600;
    margin-bottom: 40px;
  }
  .infothree .about-us .others{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    width: 60%;
    margin: 30px auto;
  }
  .infothree .about-us .others h4{
    font-weight: 600;
    font-size: 18px;
  }
  .infothree .about-us .others div p{
    font-size: 14px;
  }
  .infothree .strategy{
    position: relative;
  }
  .info-five{
    width: 70%;
    margin: 90px auto;
    text-align: center;
  }
  .info-five .main-fifth h3{
    font-weight: 600;
  }
  .info-five .main-fifth p{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 90px;
  }
  .info-five .sub-txt h3{
    font-size: 18px;
    font-weight: 600;
  }
  .info-five .sub-txt .principle ul{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .info-five .sub-txt .principle ul li{
    list-style: none;
    font-size: 14px;
    background-color: rgba(153, 150, 150, 0.886);
    padding: 10px;
    color: white;
    border-radius: 5px;
  }
  .sixth .sub-txt-sixth p{
    text-align: center;
    margin: 20px auto;
    width: 80%;
    font-size: 14px;
  }
  .sixth h1{
    font-size: 25px;
    line-height: 30px;
  }
  .last-section{
    text-align: center;
    margin: 100px 0;
  }
  .last-section h1{
    font-size: 22px;
    font-weight: 600;
  }
  .last-section .venue-txt{
    margin-top: 40px;
  }
  .last-section .venue-txt p{
    font-size: 14px;
  }
  .last-section .venue-txt .time{
    font-weight: bold;
  }
}

@media screen and (min-width: 769px){
  .hero-container{
    height: 600px;
  }
  .hero-container .hero h1{
    font-size: 60px;
  }
  header ul{
    position: inherit;
    display: flex;
    flex-direction: row;
    background: none;
    gap: 40px;
  }
  header ul li .nav-link{
  text-decoration: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
  header .menu .menu-icon{
    display: none;
  }
  .date-of-event{
    margin-top: 75px;
    padding: 0 30px;
    justify-content: space-between;
  }
  .summit-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }
  #break-line::before{
    content: "";
    white-space: none;
  }
  .summit-text button{
    padding: 20px 70px;
  }
  .event-details{
    padding: 0 4%;
  }
  .form-section{
    width: 70%;
  }
  .success-page{
    width: 40%;
  }
}

@media screen and (min-width: 1025px){
  header{
    padding: 2.5em 7%;
  }
  .event-details{
    padding: 0 7%;
  }
  .date-of-event h5{
    font-size: 15px;
  }
  .form-section{
    margin: 10% auto;
    width: 60%;
  }
}

@media screen and (min-width: 1201px){
  header{
    padding: 2.5em 13%;
  }
  .event-details{
    padding: 0 13%;
  }
  .form-section{
    width: 50%;
  }
  .success-page{
    width: 30%;
  }
}

@media screen and (min-width: 1320px){
  .hero-container{
    height: 100vh;
  }
  .success-page{
    width: 20%;
  }
}
.loading{
  width: 100vw;
  height: 150vh;
  background: #222;
  z-index: 3000;
  opacity: .6;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}
.sk-chase {
  width: 200px;
  height: 200px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

.gallery img{
  width: 100%;
}

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}
.makePay{
  padding: 20px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(47, 47, 47);
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 1.5rem;
  width: 100%;
}
.makePay a{
  color: #fff;
}
.infoOne,
.logo-section,
.mainTxt,
.info2,
.infothree,
.mission,
.vision,
.infoFour,
.sixth,
.subTxtSixth,
.last{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoOne .logo,
.infothree .logo,
.infoFive .logo{
  align-self: center;
  width: 300px;
}
.infothree .sub{
  letter-spacing: 5px;
  text-transform: uppercase;
}
.infoOne .sub{
  text-transform: uppercase;
}
.mainTxt p{
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
  font-size: 4rem;
  width: 50rem;
  text-align: center;
  color: #ec8e37ff;
  line-height: 75px;
}
.mainTxt .subtxt{
  width: 49rem;
  font-size: 2.5rem;
  text-align: center;
}
@media screen and (max-width: 968px){
  .mainTxt p{
    font-size: 2.5rem;
    width: 30rem;
  }
  .mainTxt .subtxt{
    font-size: 1.7rem;
    width: 30rem;
  }
}
.info2{
  margin-top: 3rem;
}
.info2 .objT{
  text-decoration: underline;
}
.info2 ul li{
  text-align: center;
}

.mission,
.vision{
  margin-top: 12rem;
}
.mission h4,
.vision h4{
  font-weight: 600;
  font-size: 3rem;
}
.mission p,
.vision p{
  text-align: center;
  font-size: 1.3rem;
  width: 25rem;
}

.aboutUs{
  display: flex;
  width: 60%;
  margin-top: 7rem;
  margin-left: 7rem;
  justify-content: space-between;
  align-items:flex-start;
}
/* .logo-section{
  height: 100vh;
} */
/* .others{
  overflow: scroll;
  height: 50vh;
} */
.aboutUs .logo-section {
  position: sticky;
  top: 0;
}
.infoFour h1{
  
}
.infoFour span{
  width: 31rem;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (max-width: 760px) {
  .infoFour span{
    width: 30rem;
  }
  .aboutUs .logo-section {
    position: relative;
    top: 0;
  }
  .aboutUs{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .infoFour span{
    font-size: 1.5rem;
    width: 25rem;
  }
}

.infoFive{
  display: flex;
  margin-left: 5rem;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 7rem;
}
.subTxt{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mainFifth p{
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  width: 30rem;
}
@media screen and (max-width: 760px) {
  .mainFifth p{
    font-size: 1.3rem;
    width: 25rem;
  }
}
.line2,
.subTxt{
  margin-top: 7rem;
}
.subTxt h1{
  text-align: center;
  font-size: 23px;
}
.principles ul li{
  list-style-type: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-left: -2rem;
    line-height: 50px;
}
@media screen and (max-width: 500px) {
  .line{
    width: 300px;
  }
  .mainTxt .subtxt{
    font-size: 1.3rem;
    width: 20rem;
  }
  .mission p{
    width: 23rem;
  }
  .vision p{
    font-size: 1.3rem;
    width: 20rem;
  }
  .idea{
    width: 350px;
  }
  .infoFour span{
    font-size: 1.3rem;
    width: 300px;
  }
  .mainFifth p{
    width: 300px;
  }
   .subTxt h1{
    font-size: 20px;
  }
  .principles ul li{
    margin-left: -2rem;
    font-size: 1rem;
    line-height: 30px;
  }
}
.sixth{
  margin-top: 5rem;
  align-items: flex-end;
  margin-right: 3rem;
}
.sixth h1{
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}
.sixth .svg{
  width: 500px;
}
.sixth .subTxtSixth{
  width: 25rem;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-right: 3rem;
}
@media screen and (max-width: 800px) {
  .infoFive{
    margin-left: .7rem;
    align-items: center;
  }
  .subtxt{
    align-items: center;
  }
  .sixth{
    align-items: center;
  }
  .sixth h1{
    font-size: 1.3rem;
  }
  .sixth{
    width: 100%;
    align-items: center;
  }
  .sixth .subTxtSixth{
    width: 35rem; 
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0
  }
}
@media screen and (max-width: 600px) {
  .sixth .subTxtSixth{
    width: 25rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 0rem;

  }
}
@media screen and (max-width: 500px) {
  .sixth .subTxtSixth{
    width: 20rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
  }
}
.last{
  margin-top: 5rem;
}
.last .logo{
  width: 300px;
}
.last h1{
  width: 30rem;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Noto Serif', serif;
}
.venue .loc{
  font-family: 'Noto Serif', serif;
  margin-top: 7rem;
  font-size: 2.3rem;
  width: 35rem;
  text-align: center;
}
.venue .time{
  margin-top: 4rem;
  font-size: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .last h1{
    font-size: 2rem;
    width: 23rem;
  }
  .venue .loc,
  .venue .time{
    font-size: 1.5rem;
    width: 23rem;
  }

}